<!-- Import du css du carrousel -->
<link rel="stylesheet" href="../../stylesheets/carrousel.css">
<!-- Import de la librairie (css) de flickity pour le carrousel -->
<link rel="stylesheet" href="../../stylesheets/libs/flickity.min.css">

<!-- Carrousel -->
<div class="block-Carrousel">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <img class="gallery-cell" src="../../images/slide-film/the-batman.jpg">
        <img class="gallery-cell" src="../../images/slide-film/top-gun-slide.jpg">
        <img class="gallery-cell" src="../../images/slide-film/doctor-strange.jpg">
        <img class="gallery-cell" src="../../images/slide-film/one-piece-red.jpg">
        <img class="gallery-cell" src="../../images/slide-film/fantastic-beasts-3.jpg">
        <img class="gallery-cell" src="../../images/slide-film/uncharted.jpg">
        <img class="gallery-cell" src="../../images/slide-film/harry-potter.jpg">
        <img class="gallery-cell" src="../../images/slide-film/ThorLoveThunder.jpg">
    </div>
</div>

<!-- Import de la librairie (js) de flickity pour le carrousel -->
<script src="../../javascripts/libs/flickity.pkgd.min.js"></script>