<!-- Import du css du footer -->
<link rel="stylesheet" href="./stylesheets/footer.css">

<!-- Footer -->
<footer>
    <div class="footer-content">
        <p>Films 2022 - copyright &copy;2022 Alexandre78R</p>
        <a href="https://github.com/Alexandre78R" target="_blank"><img class="social-img" src="./images/github.png" alt="Github"/></a>
            <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="/">Accueil</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </div>
    </div>
</footer>