<!-- Import du css de la navBar -->
<link rel="stylesheet" href="/stylesheets/navBar.css">

<!-- Nav Bar -->
<nav id="navBar">
    <a id="logo" class="nav-link" href="/">Films 2022</a>
    <a class="nav-link" href="/">Accueil</a>
    <a class="nav-link" href="/contact">Contact</a>
    <a class="nav-link" href="/faq">FAQ</a>
    <% if(!online) { %>
        <a id="about" class="nav-link" href="/login">Connexion</a>
    <% } else { %>
        <% console.log("Online dans navBar --->", online)%>
        <div class="dropdown-nav">
            <button class="dropbtn-nav">Administrateur
            </button>
            <div class="dropdown-content-nav">
                <a href="/panel-film">Gestion - Flims</a>
                <a href="/panel-contact">Gestion - Contacts</a>
                <a href="/panel-faq">Gestion- FAQ</a>
                <a href="/logout">Déconnexion</a>
            </div>
        </div>
    <% } %>
</nav>