<!-- Import du css de la navBar -->
    <link rel="stylesheet" href="../../stylesheets/navBar.css">

<!-- Nav Bar -->
<nav id="navBar">
    <a id="logo" class="nav-link" href="/">Films 2022</a>
    <a class="nav-link" href="/">Accueil</a>
    <a class="nav-link" href="/contact">Contact</a>
    <a class="nav-link" href="/faq">FAQ</a>
    <% if(!online) { %>
        <a id="about" class="nav-link" href="/user/login">Connexion</a>
    <% } else { %>
        <% console.log("Online dans navBar --->", online)%>
        <div class="dropdown-nav">
            <button class="dropbtn-nav"><%= online.username %>
            </button>
            <div class="dropdown-content-nav">
                <a href="#">Paramètre</a>
                <a href="/user/logout">Déconnexion</a>
            </div>
        </div>
        <% if (online.role == 1) { %>
            <div class="dropdown-nav-admin">
                <button class="dropbtn-nav">Administrateur
                </button>
                <div class="dropdown-content-nav">
                    <a href="/admin/film">Gestion - Flims</a>
                    <a href="/admin/contact">Gestion - Contacts</a>
                    <a href="/admin/faq">Gestion- FAQ</a>
                </div>
            </div>
        <% } %>
    <% } %>
</nav>