<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Import l'icon -->
    <link rel="icon" href="./images/icon.png" />
    <!-- Import du css de la navBar -->
    <link rel="stylesheet" href="./stylesheets/navBar.css">
    <!-- Import de la librairie (css) de flickity pour le carrousel -->
    <link rel="stylesheet" href="./stylesheets/libs/flickity.min.css">
    <!-- Import du css du carrousel -->
    <link rel="stylesheet" href="./stylesheets/carrousel.css">
    <!-- Import du css de container -->
    <link rel="stylesheet" href="./stylesheets/container.css">
    <!-- Import du css des FAQ -->
    <link rel="stylesheet" href="./stylesheets/accordion.css">
    <!-- Import du css du footer -->
    <link rel="stylesheet" href="./stylesheets/footer.css">
    <!-- Titre de la page -->
    <title><%= title %></title>
</head>
<body>
    <header>
        <!-- Nav Bar -->
        <%- include('../Components/navBar', {online}); %>
        <!-- Carrousel -->
        <%- include('../Components/Carrousel', {online}); %>
    </header>

    <section>
        <div class="container_app_FAQ">
            <div class="tab">
                <input id="tab-1" type="checkbox">
                <label for="tab-1">Question 1 ?</label>
                <div class="content">
                    <p>
                        Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque audivi, cum mihi nihil sane praeter sedulitatem probarent,
                        omnes mihi Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico nostro frequenter audivi, cum miraretur ille quidem utrumque,
                        Phaedrum autem etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque erat umquam controversia, quid ego intellegerem, sed quid probarem.
                    </p>
                </div>
            </div>
            
            <!-- SECOND TAB -->
            <div class="tab">
                <input id="tab-2" type="checkbox">
                <label for="tab-2">Question 2 ?</label>
                <div class="content">
                    <p>
                        Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque audivi, cum mihi nihil sane praeter sedulitatem probarent,
                        omnes mihi Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico nostro frequenter audivi, cum miraretur ille quidem utrumque,
                        Phaedrum autem etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque erat umquam controversia, quid ego intellegerem, sed quid probarem.
                    </p>
                </div>
            </div>
            
            <!-- THIRD TAB -->
            <div class="tab">
                <input id="tab-3" type="checkbox">
                <label for="tab-3">Question 3 ?</label>
                <div class="content">
                    <p>
                        Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque audivi, cum mihi nihil sane praeter sedulitatem probarent,
                        omnes mihi Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico nostro frequenter audivi, cum miraretur ille quidem utrumque,
                        Phaedrum autem etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque erat umquam controversia, quid ego intellegerem, sed quid probarem.
                    </p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-4" type="checkbox">
                <label for="tab-4">Question 4 ?</label>
                <div class="content">
                    <p>
                        Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque audivi, cum mihi nihil sane praeter sedulitatem probarent,
                        omnes mihi Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico nostro frequenter audivi, cum miraretur ille quidem utrumque,
                        Phaedrum autem etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque erat umquam controversia, quid ego intellegerem, sed quid probarem.
                    </p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-5" type="checkbox">
                <label for="tab-5">Question 5 ?</label>
                <div class="content">
                    <p>
                        Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque audivi, cum mihi nihil sane praeter sedulitatem probarent,
                        omnes mihi Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico nostro frequenter audivi, cum miraretur ille quidem utrumque,
                        Phaedrum autem etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque erat umquam controversia, quid ego intellegerem, sed quid probarem.
                    </p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-6" type="checkbox">
                <label for="tab-6">Question 6 ?</label>
                <div class="content">
                    <p>
                        Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque audivi, cum mihi nihil sane praeter sedulitatem probarent,
                        omnes mihi Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico nostro frequenter audivi, cum miraretur ille quidem utrumque,
                        Phaedrum autem etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque erat umquam controversia, quid ego intellegerem, sed quid probarem.
                    </p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-7" type="checkbox">
                <label for="tab-7">Question 7 ?</label>
                <div class="content">
                    <p>
                        Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque audivi, cum mihi nihil sane praeter sedulitatem probarent,
                        omnes mihi Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico nostro frequenter audivi, cum miraretur ille quidem utrumque,
                        Phaedrum autem etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque erat umquam controversia, quid ego intellegerem, sed quid probarem.
                    </p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-8" type="checkbox">
                <label for="tab-8">Question 8 ?</label>
                <div class="content">
                    <p>
                        Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque audivi, cum mihi nihil sane praeter sedulitatem probarent,
                        omnes mihi Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico nostro frequenter audivi, cum miraretur ille quidem utrumque,
                        Phaedrum autem etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque erat umquam controversia, quid ego intellegerem, sed quid probarem.
                    </p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-9" type="checkbox">
                <label for="tab-9">Question 9 ?</label>
                <div class="content">
                    <p>
                        Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque audivi, cum mihi nihil sane praeter sedulitatem probarent,
                        omnes mihi Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico nostro frequenter audivi, cum miraretur ille quidem utrumque,
                        Phaedrum autem etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque erat umquam controversia, quid ego intellegerem, sed quid probarem.
                    </p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-10" type="checkbox">
                <label for="tab-10">Question 10 ?</label>
                <div class="content">
                    <p>
                        Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque audivi, cum mihi nihil sane praeter sedulitatem probarent,
                        omnes mihi Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico nostro frequenter audivi, cum miraretur ille quidem utrumque,
                        Phaedrum autem etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque erat umquam controversia, quid ego intellegerem, sed quid probarem.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <%- include('../Components/footer', {online}); %>
</body>
    <!-- Import de la librairie (js) de flickity pour le carrousel -->
<script src="./javascripts/libs/flickity.pkgd.min.js"></script>
</html>
