<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Import l'icon -->
    <link rel="icon" href="./images/icon.png" />
    <!-- Import du css de container -->
    <link rel="stylesheet" href="../../stylesheets/container.css">
    <!-- Import du css des from -->
    <link rel="stylesheet" href="../../stylesheets/from.css">
    <!-- Import du css des Tab -->
    <link rel="stylesheet" href="../../stylesheets/tab.css">
    <!-- Titre de la page -->
    <title><%= title %></title>
</head>
<body>
    <header>
        <!-- Import Nav Bar -->
        <%- include('../Components/navBar', {online}); %>
        <!-- Import Carrousel -->
        <%- include('../Components/Carrousel', {online}); %>
    </header>

    <main>
        <div class="container_tab">
            <!-- <form action="panel-film-add.html"> -->
            <a href="/panel-film-add">
                <input type="submit" id="submit_button_tab_add" class="tab-buton-add" value="Ajouter"/>
            </a>
            <!-- </form> -->
            <table>
                <table>
                    <tr>
                        <th>id</th>
                        <th>Image</th>
                        <th>Texte</th>
                        <th>AlloCiné</th>
                        <th>SensCritique</th>
                        <th>CinéSérie</th>
                        <th>Source</th>
                        <th>Modifier</th>
                        <th>Suprimer</th>
                    </tr>
                    <tr class="tab-ligne">
                        <td>0</td>
                        <td class="tab-text-from"><a class="tab-text-from tab-text-a" href="#">Image</a></td>
                        <td class="tab-text-from">
                            Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque audivi, cum mihi nihil sane praeter sedulitatem probarent,
                            omnes mihi Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico nostro frequenter audivi, cum miraretur ille quidem utrumque, Phaedrum autem etiam amaret, cotidieque inter nos ea,
                            quae audiebamus, conferebamus, neque erat umquam controversia, quid ego intellegerem, sed quid probarem.
                        </td>
                        <td class="tab-text-from"><a class="tab-text-from tab-text-a" href="#">AlloCiné</a></td>
                        <td class="tab-text-from"><a class="tab-text-from tab-text-a" href="#">SensCritique</a></td>
                        <td class="tab-text-from"><a class="tab-text-from tab-text-a" href="#">CinéSérie</a></td>
                        <td class="tab-text-from"><a class="tab-text-from tab-text-a" href="#">Source</a></td>
                        <td>
                            <!-- <form action="panel-film-edit.html"> -->
                            <a href="/panel-film-edit">
                                <input id="submit_button_tab_edit" class="tab-buton-edit" type="submit" value="Modifier"/>
                            </a>
                            <!-- </form> -->
                        </td>
                        <td>
                            <form  action="/film/del/id" method="POST">
                                <input id="submit_button_tab_delete"   class="tab-buton-delete" type="submit" value="Suprimer"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </table>
        </div>
    </main>
    <!-- Import footer -->
    <%- include('../Components/footer', {online}); %>
</body>
</html>